<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gazebo_name">
  <xacro:arg name="namespace_arg" default=""/>
  <xacro:arg name="tf_prefix_arg" default="$(arg namespace_arg)"/>
  <xacro:arg name="description_pkg_arg" default="name_description"/>
  <xacro:arg name="gazebo_pkg_arg" default="name_gazebo"/>
  
  <xacro:property name="description_pkg" value="$(arg description_pkg_arg)"/>
  <xacro:property name="gazebo_pkg" value="$(arg gazebo_pkg_arg)"/>
  
  <!-- include all visual xacro files -->
  <xacro:include filename="$(find ${description_pkg})/robot/visual/properties.xacro"/>
  <xacro:include filename="$(find ${description_pkg})/robot/visual/chassis.xacro"/>
  <xacro:include filename="$(find ${description_pkg})/robot/visual/wheel.xacro"/>
  <xacro:include filename="$(find ${description_pkg})/robot/visual/castor.xacro"/>
  <xacro:include filename="$(find ${description_pkg})/robot/visual/sensor.xacro"/>

  <!-- include all dynamics xacro files -->
  <xacro:include filename="$(find ${description_pkg})/robot/dynamics/properties.xacro"/>
  <xacro:include filename="$(find ${description_pkg})/robot/dynamics/chassis.xacro"/>
  <xacro:include filename="$(find ${description_pkg})/robot/dynamics/wheel.xacro"/>
  <xacro:include filename="$(find ${description_pkg})/robot/dynamics/castor.xacro"/>
  <xacro:include filename="$(find ${description_pkg})/robot/dynamics/pole.xacro"/>
  
  <!-- include all gazebo xacro files -->
  <xacro:include filename="$(find ${gazebo_pkg})/robot/graphics.gazebo.xacro"/>
  <xacro:include filename="$(find ${gazebo_pkg})/robot/sensor.gazebo.xacro"/> 
  <xacro:include filename="$(find ${gazebo_pkg})/robot/controller.gazebo.xacro"/> 
  
  <xacro:chassis/>
  <xacro:wheel_set/>
  <xacro:castor_set/>
  <xacro:pole_set/>
  <xacro:sensor_link/>
  <xacro:gazebo_graphics/> 
  <xacro:sensors_plugins namespace="$(arg namespace_arg)" frame_prefix="$(arg tf_prefix_arg)"/>
  <xacro:velocity_controller namespace="$(arg namespace_arg)" gazebo_pkg="$(arg gazebo_pkg_arg)"/>
  
</robot>
